<form class="example-form" *ngIf="action" [formGroup]="form" (ngSubmit)="send()">
    <div class="form_box">
        <mat-form-field>
            <mat-label>Enter Name</mat-label>
            <input matInput placeholder="Enter Full Name" formControlName="name" required>
            <mat-error>{{ getErrorMessage('name') }}</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Enter Image</mat-label>
            <input matInput placeholder="Enter image URL" formControlName="image" required>
            <mat-error>{{ getErrorMessage('image') }}</mat-error>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Enter Speciality</mat-label>
            <input matInput placeholder="Enter Speciality" formControlName="short_description" required>
            <mat-error>{{ getErrorMessage('short_description') }}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Send</button>
    </div>
</form>

