<div *ngIf="isDelete">
    <h1 mat-dialog-title>
        Delete Item?
    </h1>
    <div mat-dialog-content>
        Would you like to delete this Item?
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="onNoClick()">No</button>
        <button mat-button mat-dialog-close cdkFocusInitial (click)="onYesClick()">Ok</button>
    </div>
</div>
<div>
    <form class="example-form" *ngIf="action" [formGroup]="form" (ngSubmit)="send()">
        <mat-form-field>
            <mat-label>Enter Name</mat-label>
            <input matInput placeholder="Enter Full Name" formControlName="name" required>
            <mat-error>{{ getErrorMessage('name') }}</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Enter Image</mat-label>
            <input matInput placeholder="Enter image URL" formControlName="image" required>
            <mat-error>{{ getErrorMessage('image') }}</mat-error>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Enter Speciality</mat-label>
            <input matInput placeholder="Enter Speciality" formControlName="short_description" required>
            <mat-error>{{ getErrorMessage('short_description') }}</mat-error>
        </mat-form-field>
        <button type="submit" [disabled]="!form.valid">Send</button>
    </form>
</div>



