<div class="author__section_1-box" *ngIf="user">
    <div class="author__section_1-box-user">
        <img src={{user.fullImage}} alt="User_img" class="author__section_1-box-user-img">
    </div>
    <div class="author__section_1-box-text">
        <h1 class="author__section_1-box-text-title">
            "Hey there, I’m {{user.name}} and welcome to my Blog",
        </h1>
        <p class="author__section_1-box-text-par">
            {{user.short_description}}						
        </p>
        <div class="author__section_1-box-text-social_logo">
            <a class="author__section_1-box-text-social_logo-link" href="#">
                <img class="author__section_1-box-text-social_logo-link-img" src="assets/img/footer/facebook.png" alt="facebook">
            </a>
            <a class="author__section_1-box-text-social_logo_link-margin author__section_1-box-text-social_logo_link" href="#">
                <img class="author__section_1-box-text-social_logo-link-img" src="assets/img/footer/twiter.png" alt="twiter">
            </a>
            <a class="author__section_1-box-text-social_logo_link-margin author__section_1-box-text-social_logo_link" href="#">
                <img class="author__section_1-box-text-social_logo-link-img" src="assets/img/footer/instagram.png" alt="Instagram">
            </a>
            <a class="author__section_1-box-text-social_logo_link-margin author__section_1-box-text-social_logo_link" href="#">
                <img class="author__section_1-box-text-social_logo-link-img" src="assets/img/footer/in.png" alt="in">
            </a>
        </div>
    </div>
</div>
