    <mat-card>
        <mat-card-content>
            <div>
                <mat-icon class="material-symbols-outlined button_icon">group</mat-icon>
                Users-{{usersCount.length}}
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div>
                <mat-icon class="material-symbols-outlined button_icon">category</mat-icon>
                Category-{{categoryCount.length}}
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div>
                <mat-icon class="material-symbols-outlined button_icon">share</mat-icon>
                Posts-{{postCount.length}}
            </div>
        </mat-card-content>
    </mat-card>
