<div class="contact__section_1">
    <div class="contact__container">
        <div class="contact__section_1-box">
            <div class="contact__section_1-box-elm-1">
                <p class="contact__section_1-box-elm-1-subtitle">
                    CONTACT US
                </p>
                <h1 class="contact__section_1-box-elm-1-title">
                    Let’s Start a Conversation
                </h1>
                <p class="contact__section_1-box-elm-1-par">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="contact__section_2">
    <div class="contact__container">
        <div class="contact__section_2-box">
            <div class="contact__section_2-box-elm-1-backgraund">
                <div class="contact__section_2-box-elm-1">
                    <div class="contact__section_2-box-elm-1-working_hours">
                        <div class="contact__section_2-box-elm-1-working_hours-text">
                            <h4 class="contact__section_2-box-elm-1-working_hours-text-title">
                                Working hours
                            </h4>
                        </div>
                        <h5 class="contact__section_2-box-elm-1-working_hours-month">
                            Monday To Friday
                        </h5>
                        <h5 class="contact__section_2-box-elm-1-working_hours-time">
                            9:00 AM to 8:00 PM
                        </h5>
                        <p class="contact__section_2-box-elm-1-working_hours-par">
                            Our Support Team is available 24/7
                        </p>
                    </div>
                    <div class="contact__section_2-box-elm-2-contact_us">
                        <div class="contact__section_2-box-elm-2-contact_us-text">
                            <h4 class="contact__section_2-box-elm-2-contact_us-text-title">
                                Contact Us
                            </h4>
                        </div>
                        <h5 class="contact__section_2-box-elm-2-contact_us-number">
                            020 7993 2905
                        </h5>
                        <p class="contact__section_2-box-elm-2-contact_us-mail">
                            hello@finsweet.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact__section_3">
    <div class="contact__container">
        <div class="contact__section_3-box">
            <div class="contact__section_3-box-form">
                <form method="get" [formGroup]="nameControl" (ngSubmit)="save()" class="contact__section_3-form">
                  <div class="input_box">
                    <input formControlName="fullname" type="text" class="contact__section_3-box-form-full-name">
                    <div *ngIf="nameControl.get('fullname')?.touched && nameControl.get('fullname')?.errors" class="valid_text valid_block">
                      This is a required field. There must be at least 3 characters here.
                    </div>
                  </div>
                  <div class="input_box">
                    <input formControlName="email" type="email" class="contact__section_3-box-form-full-name">
                    <div *ngIf="nameControl.get('email')?.touched && nameControl.get('email')?.errors" class="valid_text">
                      This is a required field. There must be at least 3 characters here.
                    </div>
                  </div>
                    <select name="Query Related" class="contact__section_3-box-form-full-name">
                        <option value="">Query Related</option>
                    </select>
                    <textarea rows="3" class="contact__section_3-box-form-full-name" placeholder="Message"></textarea>
                    <button [disabled]="nameControl.invalid" class="contact__section_3-box-form-button" type="submit">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>



