<header class="header">
    <div class="container">
        <div class="header_block_nav">
            <div class="header_block_nav_logo">
                <a routerLink="">
                  <img src="assets/img/header/header_logo.png" alt="header_logo">
                </a>
            </div>
            <nav class="header_nav">
                <ul class="header_nav_block">
                    <li class="header_nav_block_item scalehover">
                        <a  routerLink="" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="header_nav_block_item_link">Home</a>
                    </li>
                    <li class="header_nav_block_item scalehover mrg_l">
                        <a  routerLink="blog" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="active" class="header_nav_block_item_link">Blog</a>
                    </li>
                    <li class="header_nav_block_item scalehover mrg_l">
                        <a routerLink="about-us" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="active" class="header_nav_block_item_link">About Us</a>
                    </li>
                    <li class="header_nav_block_item scalehover mrg_l">
                        <a routerLink="contact-us" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="active" class="header_nav_block_item_link">Contact us</a>
                    </li>
                    <li class="header_nav_block_button scalehover">
                        <a href="#footer_block_elm_2" class="header_nav_block_item_button">Subscribe</a>
                    </li>
                </ul>
            </nav>
            <nav class="header_nav_menu">
                <div class="hover_menu">
                    <img class="hover_menu_pmg" src="assets/img/header/menu.png" alt="menu">
                    <ul class="header_nav_menu_block">
                        <li class="header_nav_block_item mrg_l">
                            <a routerLink="" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="active" class="header_nav_block_item_link">Home</a>
                        </li>
                        <li class="header_nav_block_item mrg_l">
                            <a routerLink="blog" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="active" class="header_nav_block_item_link">Blog</a>
                        </li>
                        <li class="header_nav_block_item mrg_l">
                            <a routerLink="about-us" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="active" class="header_nav_block_item_link">About Us</a>
                        </li>
                        <li class="header_nav_block_item mrg_l">
                            <a routerLink="contact-us" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="active" class="header_nav_block_item_link">Contact us</a>
                        </li>
                        <li class="header_nav_block_button">
                            <a href="#footer_block_elm_2" class="header_nav_block_item_button">Subscribe</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
