.mat_drawer{
    width: 20%;
    height: 100vh;
}
.global_button{
    width: 100%;
    padding: 30px;
    display: flex;
    font-size: 25px;
    justify-content: flex-start;
    transition: 0.4s;
}
.button_icon{
    font-size: 40px;
}
.global_button > .button_icon {
    font-size: 25px;
    width: 25px;
    height: 25px;
}
.menu_buttons{
    padding: 20px;
}
mat-toolbar{
    display: flex;
    justify-content: space-between;
}
mat-drawer-container{
    height: 100vh;
}
.author-image{
    width: 45px;
    height: 45px;
  }
  .info-box{
    display: flex;
    align-items: center;
  }
  .admin_active{
    background-color: gray;
    scale: 1.1;
  }