<div>
    <mat-toolbar>
      <span>Finsweet Admin Page</span>
      <button (click)="remuveToken()" mat-raised-button color="primary" class="logOut_button">
        <mat-icon class="material-symbols-outlined button_icon">logout</mat-icon>
        LogOut
    </button>
    </mat-toolbar>
  </div>
  <mat-drawer-container class="example-container" [style.height]="window.innerHeight - 64 + 'px'">
    <mat-drawer mode="side" opened class="mat_drawer">
        <div class="menu_buttons">
            <button mat-raised-button color="primary" class="global_button" routerLink="dashpord">
                <mat-icon class="button_icon material-symbols-outlined">view_comfy_alt</mat-icon>
                Dashboard
            </button>
        </div>
        <div class="menu_buttons">
            <button mat-raised-button color="primary" class="global_button" routerLink="admin-usersinfo">
                <mat-icon class="material-symbols-outlined button_icon">group</mat-icon>
                Users
            </button>
        </div>  
        <div class="menu_buttons">
            <button mat-raised-button color="primary" class="global_button" routerLink="admin-cotegory">
                <mat-icon class="material-symbols-outlined button_icon">category</mat-icon>
                Category
            </button>
        </div>  
        <div class="menu_buttons">
            <button mat-raised-button color="primary" class="global_button" routerLink="admin-post">
                <mat-icon class="material-symbols-outlined button_icon">share</mat-icon>
                Posts
            </button>
        </div>  
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet> </router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
