  <mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" label="Enter your Email and Password" [completed]="firstFormGroup.valid">
        <form [formGroup]="firstFormGroup">
            <div>
              <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email" required>
                <mat-error *ngIf="firstFormGroup.get('email')?.invalid">{{ getErrorMessage(firstFormGroup.get('email')!) }}</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-full-width">
                <mat-label>Enter Your Password</mat-label>
                <input type="password" matInput formControlName="password"  placeholder="Password" required>
                <mat-error *ngIf="firstFormGroup.get('password')?.invalid">{{ getErrorMessage(firstFormGroup.get('password')!) }}</mat-error>
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Introduction Your details" [completed]="secondFormGroup.valid && firstFormGroup.valid">
      <form [formGroup]="secondFormGroup">
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Enter Your First Name</mat-label>
            <input matInput placeholder="First Name" type="text" formControlName="f_name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Enter Your Last Name</mat-label>
            <input matInput placeholder="Last Name" type="text" formControlName="l_name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Enter Your Image</mat-label>
            <input matInput placeholder="Image" type="text" formControlName="image">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Enter Your Speciality</mat-label>
            <input matInput placeholder="Image" type="text" formControlName="short_description">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="sendNewUser()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>