
.blog-section__1_box-elm-2{
    margin-top: 64px;
}
.blog-section__1_box-elm-2-card{
    display: flex;
    align-items: center;
}
.blog-section__1_box-elm-2-card-text{
    margin-left: 32px;
}
.blog-section__1_box-elm-2-card-text-elm-1{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    color: #592EA9;
}
.blog-section__1_box-elm-2-card-text-title{
    font-family: Sen;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
    margin: 16px 0 20px;
    width: 602.89px;
}
.blog-section__1_box-elm-2-card-text-elm-2{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    color: #6D6E76;
    width: 624px;
}
.cotugory_section-width{
  width: 294px;
  min-height: 312px;
}

.blog-section__1_box-elm-2-card-margin-top{
    margin-top: 64px;
}

@media (max-width: 1280px) {
    .blog-section__1_box-elm-2-card-text-title,
    .blog-section__1_box-elm-2-card-text-elm-2 {
        width: 500px;
    }
}
@media (max-width: 1040px) {
    .blog-section__1_box-elm-2-card-text-title,
    .blog-section__1_box-elm-2-card-text-elm-2 {
        width: 400px;
    }
}
@media (max-width: 940px) {
    .blog-section__1_box-elm-2-card {
        flex-direction: column;
    }
    .blog-section__1_box-elm-2-card-text-title,
    .blog-section__1_box-elm-2-card-text-elm-2 {
        width: 90%;
        text-align: center;
    }
    .blog-section__1_box-elm-2-card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .blog-section__1_box-elm-1-title {
        text-align: center;
    }
    .blog-section__1_box-elm-2-card-text {
        margin-left: 0;
    }
}
@media (max-width: 700px) {
    .blog-section__1_box-elm-2-card-text-title {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0;
        margin: 10px 0 15px;

    }
    .blog-section__1_box-elm-2-card-img-item,
    .blog-section__1_box-elm-2-card-img{
        width: 90%;
    }
    .blog-section__1_box-elm-2-card-img {
        display: flex;
        justify-content: center;
    }
    .blog-section__1_box-elm-2-action-btn-prev-link,
    .blog-section__1_box-elm-2-action-btn-next-link {
        font-family: Sen;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
    }
    .blog-section__1_box-elm-2-action-btn {
        margin-top: 39px;
    }
    .blog-section__1_box-elm-1-title-text {
        font-size: 38px;
        line-height: 44px;
        letter-spacing: 0;
        color: #232536;
    }
}
@media (max-width: 460px) {
    .blog-section__1_box-elm-2-card-text-title {
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0;
        margin: 10px 0 15px;
    }
    .blog-section__1_box-elm-2-card-margin-top {
        margin-top: 34px;
    }
}
.cotugory_section-none{
    display: none;
}
.section_1_box_2_elm_2_shape_box_elm_1{
	padding: 32px 116px 25px 32px;
	cursor: pointer;
	transition: 0.3s;
}
.section_1_box_2_elm_2_shape_box_elm_1:hover{
	background: #FBF6EA;
	scale: 0.9;
}
.section_1_box_2_elm_2_shape_box_elm_1_text_title{
	font-family: Sen;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0px;
	margin-top: 8px;
}