<div class="section_8_box_1">
    <div class="container">
        <div class="section_8_box_1_elm_1">
            <div class="section_8_box_1_elm_1_text">
                <h2 class="section_8_box_1_elm_1_text_title">
                    Join our team to be a part of our story
                </h2>
                <p class="section_8_box_1_elm_1_text_elm_1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                </p>
                <div class="section_8_box_1_elm_1_text_button">
                    <a href="#" class="section_8_box_1_elm_1_text_button_link">Join Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
