<footer class="footer">
    <div class="container">
        <div class="footer_block">
            <div class="footer_block_elm_1">
                <div class="footer_block_logo">
                    <img src="../../../assets/img/header/header_logo.png" alt="footer_logo">
                </div>
                <nav class="footer_block_nav">
                    <ul class="footer_nav_block">
                        <li class="footer_nav_block_item">
                            <a routerLink="" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="footer_nav_block_item_link">Home</a>
                        </li>
                        <li class="footer_nav_block_item mrgf_24">
                            <a routerLink="blog" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="footer_nav_block_item_link">Blog</a>
                        </li>
                        <li class="footer_nav_block_item mrgf_24">
                            <a routerLink="about-us" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="footer_nav_block_item_link">About Us</a>
                        </li>
                        <li class="footer_nav_block_item mrgf_24">
                            <a routerLink="contact-us" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="footer_nav_block_item_link">Contact us</a>
                        </li>
                        <li class="footer_nav_block_item mrgf_24">
                            <a routerLink="privacy-policy" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="footer_nav_block_item_link">Privacy Policy</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer_block_elm_2" id="footer_block_elm_2">
                <div class="footer_block_elm_2_box">
                    <h2 class="footer_block_elm_2_box_text">
                        Subscribe to our news letter to get latest updates and news
                    </h2>
                    <form method="get" class="footer_block_elm_2_box_form">
                        <input placeholder="Enter Your Email" class="footer_block_elm_2_box_form_input" type="email">
                        <button class="footer_block_elm_2_box_form_button">
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
            <div class="footer_block_elm_3">
                <div class="footer_block_elm_3_box">
                    <div class="footer_block_elm_3_box_text_block">
                        <h2 class="footer_block_elm_3_box_text_block_elm_1">
                            Finstreet 118 2561 Fintown
                        </h2>
                        <h2 class="footer_block_elm_3_box_text_block_elm_1">
                            Hello@finsweet.com  020 7993 2905
                        </h2>
                    </div>
                    <div class="footer_block_elm_3_box_social_block">
                        <a class="footer_block_elm_3_box_social_block_link" href="#">
                            <img src="assets/img/footer/facebook.png" alt="facebook">
                        </a>
                        <a class="footer_block_elm_3_box_social_block_link" href="#">
                            <img class="mrg_l26" src="assets/img/footer/twiter.png" alt="twiter">
                        </a>
                        <a class="footer_block_elm_3_box_social_block_link" href="#">
                            <img class="mrg_l26" src="assets/img/footer/instagram.png" alt="Instagram">
                        </a>
                        <a class="footer_block_elm_3_box_social_block_link" href="#">
                            <img class="mrg_l26" src="assets/img/footer/in.png" alt="in">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
