<div class="category__section_1">
    <div class="container">
        <div class="category__section_1-box">
            <h1 class="category__section_1-box-title">
                {{selectedCategory.toUpperCase()}}
            </h1>
            <p class="category__section_1-box-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
            <p class="category__section_1-box-subtitle">
                Blog > {{selectedCategory}}
            </p>
        </div>
    </div>
</div>
<div class="category__section_2">
    <div class="container">
        <div class="category__section_2-box">
            <div class="category__section_2-box-elm-1-flex">
              <app-all-posts [isCotugory]="true" *ngFor="let value of filteredPosts" [allpost]="value"></app-all-posts>
            </div>
            <div class="category__section_2-box-elm-2">
                <div class="category__section_2-box-elm-2-categories">
                    <div class="category__section_2-box-elm-2-categories-title">
                        <h2 class="category__section_2-box-elm-2-categories-title-text">
                            Categories
                        </h2>
                    </div>
                    <div class="category__section_2-box-elm-2-categories-card" 
                         *ngFor="let value of category"
                         [routerLink]="['/categories',value.title.toLowerCase()]" 
                         [ngClass]="{'category_active': isActiveCategory(value.title.toLowerCase())}" >
                        <div class="category__section_2-box-elm-2-categories-card-img">
                            <img class="category__section_2-box-elm-2-categories-card-img-item" src= {{value.image}} alt="Startup">
                        </div>
                        <h3 class="category__section_2-box-elm-2-categories-card-title">
                           {{value.title}}
                        </h3>
                    </div>
                </div>
                <div class="category__section_2-box-elm-2-all_tags">
                    <div class="category__section_2-box-elm-2-all_tags-title">
                        <h2 class="category__section_2-box-elm-2-all_tags-title-text">
                            All Tags
                        </h2>
                    </div>
                    <div class="category__section_2-box-elm-2-all_tags-buttob">
                        <div class="category__section_2-box-elm-2-all_tags-buttob-border">
                            <p class="category__section_2-box-elm-2-all_tags-buttob-border-text">
                                Business
                            </p>
                        </div>
                        <div class="category__section_2-box-elm-2-all_tags-buttob-border">
                            <p class="category__section_2-box-elm-2-all_tags-buttob-border-text">
                                Experience
                            </p>
                        </div>
                        <div class="category__section_2-box-elm-2-all_tags-buttob-border category__section_2-box-elm-2-all_tags-buttob-border-magin">
                            <p class="category__section_2-box-elm-2-all_tags-buttob-border-text">
                                Screen
                            </p>
                        </div>
                        <div class="category__section_2-box-elm-2-all_tags-buttob-border category__section_2-box-elm-2-all_tags-buttob-border-magin">
                            <p class="category__section_2-box-elm-2-all_tags-buttob-border-text">
                                Technology
                            </p>
                        </div>
                        <div class="category__section_2-box-elm-2-all_tags-buttob-border">
                            <p class="category__section_2-box-elm-2-all_tags-buttob-border-text">
                                Marketing
                            </p>
                        </div>
                        <div class="category__section_2-box-elm-2-all_tags-buttob-border">
                            <p class="category__section_2-box-elm-2-all_tags-buttob-border-text">
                                Life
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
