<div class="category__section_1">
    <div class="container">
        <div class="category__section_1-box">
            <h1 class="category__section_1-box-title">
                Business
            </h1>
            <p class="category__section_1-box-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
            <p class="category__section_1-box-subtitle">
                Blog > Business
            </p>
        </div>
    </div>
</div>
<div class="category__section_2">
    <div class="container">
        <div class="category__section_2-box">
            <div class="category__section_2-box-elm-1-flex">
              <app-all-posts [isCotugory]="true" *ngFor="let value of posts" [allpost]="value"></app-all-posts>
            </div>
            <div class="category__section_2-box-elm-2">
                <div class="category__section_2-box-elm-2-categories">
                    <div class="category__section_2-box-elm-2-categories-title">
                        <h2 class="category__section_2-box-elm-2-categories-title-text">
                            Categories
                        </h2>
                    </div>
                    <div class="category__section_2-box-elm-2-categories-card">
                        <div class="category__section_2-box-elm-2-categories-card-img">
                            <img class="category__section_2-box-elm-2-categories-card-img-item" src="assets/img/home_main/icon_2.png" alt="Startup">
                        </div>
                        <h3 class="category__section_2-box-elm-2-categories-card-title">
                            Startup
                        </h3>
                    </div>
                    <div class="category__section_2-box-elm-2-categories-card category__section_2-box-elm-2-categories-card-margin-top">
                        <div class="category__section_2-box-elm-2-categories-card-img">
                            <img class="category__section_2-box-elm-2-categories-card-img-item" src="assets/img/home_main/icon_1.png" alt="Bussines">
                        </div>
                        <h3 class="category__section_2-box-elm-2-categories-card-title">
                            Business
                        </h3>
                    </div>
                    <div class="category__section_2-box-elm-2-categories-card category__section_2-box-elm-2-categories-card-margin-top">
                        <div class="category__section_2-box-elm-2-categories-card-img">
                            <img class="category__section_2-box-elm-2-categories-card-img-item" src="assets/img/home_main/icon_3.png" alt="Economy">
                        </div>
                        <h3 class="category__section_2-box-elm-2-categories-card-title">
                            Economy
                        </h3>
                    </div>
                    <div class="category__section_2-box-elm-2-categories-card category__section_2-box-elm-2-categories-card-margin-top">
                        <div class="category__section_2-box-elm-2-categories-card-img">
                            <img class="category__section_2-box-elm-2-categories-card-img-item" src="assets/img/home_main/icon_4.png" alt="Technology">
                        </div>
                        <h3 class="category__section_2-box-elm-2-categories-card-title">
                            Technology
                        </h3>
                    </div>
                </div>
                <div class="category__section_2-box-elm-2-all_tags">
                    <div class="category__section_2-box-elm-2-all_tags-title">
                        <h2 class="category__section_2-box-elm-2-all_tags-title-text">
                            All Tags
                        </h2>
                    </div>
                    <div class="category__section_2-box-elm-2-all_tags-buttob">
                        <div class="category__section_2-box-elm-2-all_tags-buttob-border">
                            <p class="category__section_2-box-elm-2-all_tags-buttob-border-text">
                                Business
                            </p>
                        </div>
                        <div class="category__section_2-box-elm-2-all_tags-buttob-border">
                            <p class="category__section_2-box-elm-2-all_tags-buttob-border-text">
                                Experience
                            </p>
                        </div>
                        <div class="category__section_2-box-elm-2-all_tags-buttob-border category__section_2-box-elm-2-all_tags-buttob-border-magin">
                            <p class="category__section_2-box-elm-2-all_tags-buttob-border-text">
                                Screen
                            </p>
                        </div>
                        <div class="category__section_2-box-elm-2-all_tags-buttob-border category__section_2-box-elm-2-all_tags-buttob-border-magin">
                            <p class="category__section_2-box-elm-2-all_tags-buttob-border-text">
                                Technology
                            </p>
                        </div>
                        <div class="category__section_2-box-elm-2-all_tags-buttob-border">
                            <p class="category__section_2-box-elm-2-all_tags-buttob-border-text">
                                Marketing
                            </p>
                        </div>
                        <div class="category__section_2-box-elm-2-all_tags-buttob-border">
                            <p class="category__section_2-box-elm-2-all_tags-buttob-border-text">
                                Life
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
