<div class="header__blog">
    <div class="container">
        <div class="header__blog-box">
            <div class="header__blog-box-elm-1">
                <p class="header__blog-box-elm-1-text-elm-1">
                    FEATURED POST
                </p>
                <h1 class="header__blog-box-elm-1-text-title">
                    Step-by-step guide to choosing great font pairs
                </h1>
                <p class="header__blog-box-elm-1_text-elm-2">
                    By <span>John Doe</span>  |  May 23, 2022
                </p>
                <p class="header__blog-box-elm-1_text-elm-3">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident.
                </p>
                <div class="header__blog-box-elm-1_text-elm-btn">
                    <a href="#" class="header__blog-box-elm-1-text-elm-btn-link">Read More></a>
                </div>
            </div>
            <div class="header__blog-box-elm-2">
                <div class="header__blog-box-elm-2-img">
                    <img src="assets/img/post_imgs/post_img_4.jpg" alt="blog_header_img" class="header__blog-box-elm-2-img_item">
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="blog-section__1">
        <div class="container">
            <div class="blog-section__1_box">
                <div class="blog-section__1_box-elm-1">
                    <div class="blog-section__1_box-elm-1-title">
                        <h2 class="blog-section__1_box-elm-1-title-text">
                            All posts
                        </h2>
                    </div>
                    <div class="posts_flex">
                        <app-all-posts [isBlog]="true" *ngFor="let value of posts" [allpost]="value"></app-all-posts>
                    </div>

                    <div class="blog-section__1_box-elm-2-action-btn"*ngIf="posts.length <= 4">
                        <div class="blog-section__1_box-elm-2-action-btn-prev" *ngIf="currentPage > 1">
                            <a (click)="prevPage()" class="blog-section__1_box-elm-2-action-btn-prev-link blog-section__1_box-elm-2-action-btn-link-hover">&#60; Prev</a>
                        </div>
                        <div class="blog-section__1_box-elm-2-action-btn-next" *ngIf="posts.length >= 4 || posts.length == 0">
                            <a (click)="nextPage()" class="blog-section__1_box-elm-2-action-btn-next-link blog-section__1_box-elm-2-action-btn-link-hover">Next &#62;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-section__2">
        <div class="container">
            <h2 class="blog-section__2-box-1-elm-1-title">
                All Categories
            </h2>
            <div class="categoties_flex">
                <app-categories-card *ngFor="let value of category" [item]="value"></app-categories-card>
            </div>
        </div>
    </div>
    <app-join></app-join>
