<div class="header-overlay" [ngStyle]="{'background-image': 'url(' + url + ')'}" *ngIf="headerPost">
    <div class="container"> 
        <div class="header-overlay__box" >
            <p class="header-overlay__box-text-elm-1">
                POSTED ON <a [routerLink]="['/categories',headerPost.category.toLowerCase()]">{{headerPost.category.toUpperCase()}}</a>
            </p>
            <h1 class="header-overlay__box-text-title">
                <a [routerLink]="['blog-post',headerPost.id]"></a>{{headerPost.title}}
            </h1>
            <p class="header-overlay__box-text-elm-2">
                By 
                <a [routerLink]="['/authors',headerPost.postUser]">
                    {{headerPost.postUser}}
                </a>  |  {{headerPost.postData}}
            </p>
            <p class="header-overlay__box-text-elm-3">
                {{headerPost.short_description}}
            </p>
            <div class="header-overlay__box-text-elm-btn">
                <a routerLink="blog-post" class="header-overlay__box-text-elm-btn-link">Read More></a>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="section_1_box_1">
            <div class="section_1_box_1_elm_1">
                <h2 class="section_1_box_1_elm_1_title">
                    Featured Post
                </h2>
                <div *ngFor="let value of singlPost" class="section_1_box_1_elm_1_img_box" >
                    <div class="section_1_box_1_elm_1_img_box_img">
                        <img class="section_1_box_1_elm_1_img_box_img_item" src={{value.image}} alt="section_1img">
                    </div>
                    <p class="section_1_box_1_elm_1_img_box_text_elm_1" [routerLink]="['/authors',value.postUser]">
                        By <span>{{value.postUser}}</span> l {{value.postData}}
                    </p>
                    <h3 class="section_1_box_1_elm_1_img_box_text_elm_2" [routerLink]="['blog-post',value.id]">
                        {{value.title}}
                    </h3>
                    <p class="section_1_box_1_elm_1_img_box_text_elm_3">
                        {{value.short_description}}
                    </p>
                    <div class="section_1_box_1_elm_1_img_box_button">
                        <a routerLink="/blog-post" class="section_1_box_1_elm_1_img_box_button_link">
                            Read Mare>
                        </a>
                    </div>
                </div>
            </div>
            <div class="section_1_box_2">
                <div class="section_1_box_2_elm_1">
                    <div class="section_1_box_2_elm_1_text">
                        <h2 class="section_1_box_2_elm_1_text_title">
                            All Posts
                        </h2>
                        <p class="section_1_box_2_elm_1_text_title_par">
                            <a routerLink="blog-post">Vinew All</a>
                        </p>
                    </div>
                    <div class="section_1_box_2_elm_2_shape_box">
                        <div  *ngFor="let value of posts">
                            <div class="section_1_box_2_elm_2_shape_box_elm_1">
                                <p class="section_1_box_2_elm_2_shape_box_elm_1_text">
                                    By <a [routerLink]="['/authors',value.postUser]">{{value.postUser}}</a>   l   {{value.postData}}
                                </p>
                                <diva class="section_1_box_2_elm_2_shape_box_elm_1_text_title" [routerLink]="['blog-post',value.id]">
                                    {{value.title}}
                                </diva>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="section_2_box_1">
            <div class="section_2_box_1_line_box">
                <div class="section_2_box_1_line_box_yellow"></div>
                <div class="section_2_box_1_line_box_purpule"></div>
            </div>
            <div class="section_2_box_1_elm_1">
                <div class="section_2_box_1_elm_1_text_box">
                    <p class="section_2_box_1_elm_1_text_box_elm_1">
                        ABOUT US
                    </p>
                    <h3 class="section_2_box_1_elm_1_text_box_elm_title">
                        We are a community of content writers who share their learnings
                    </h3>
                    <p class="section_2_box_1_elm_1_text_box_elm_2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <div class="section_2_box_1_elm_1_text_box_elm_button">
                        <a href="#" class="section_2_box_1_elm_1_text_box_elm_button_link">Read More></a>
                    </div>
                </div>
                <div class="section_2_box_2_elm_1_text">
                    <div class="section_2_box_2_elm_1_text_box">
                        <p class="section_2_box_2_elm_1_text_box_elm_1">
                            OUR MISION
                        </p>
                        <h3 class="section_2_box_2_elm_1_text_box_elm_title">
                            Creating valuable content for creatives all around the world
                        </h3>
                        <p class="section_2_box_2_elm_1_text_box_elm_2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                            nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_3_box_1">
            <h2 class="section_3_box_1_elm_1_title">
                Choose A Catagory
            </h2>
            <div class="categoties_flex">
                <app-categories-card *ngFor="let value of category" [item]="value"></app-categories-card>
            </div>
        </div>
        <div class="section_4_box_1">
            <div class="section_4_box_1_elm_1">
                <img src="assets/img/post_imgs/post_img_1.jpg" alt="section4_img" class="section_4_box_1_elm_1_img">
            </div>
            <div class="section_4_box_1_elm_2">
                <p class="section_4_box_1_elm_2_text_elm_1">
                    WHY WE STARTED
                </p>
                <h3 class="section_4_box_1_elm_2_title">
                    It started out as a simple idea and evolved into our passion
                </h3>
                <p class="section_4_box_1_elm_2_text_elm_2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore
                     magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip.
                </p>
                <div class="section_4_box_1_elm_2_button">
                    <a routerLink="blog" class="section_4_box_1_elm_2_button_link">
                        Discover our story >
                    </a>
                </div>
            </div>
        </div>
       <div class="section_5_box_1">
            <h2 class="section_5_box_1_elm_1_text_title">
                List of Authors
            </h2>
            <div class="users_flex">
                <app-users-card  *ngFor="let value of usersInfo" [item]="value"></app-users-card>
            </div>
        </div>
        <div class="section_6_box_1">
            <div class="section_6_box_1_elm_1">
                <div class="section_6_box_1_elm_1_text">
                    <p class="section_6_box_1_elm_1_text_elm_1">
                        We are
                    </p>
                    <h2 class="section_6_box_1_elm_1_text_title">
                        Featured in
                    </h2>
                </div>
                <div class="section_6_box_1_elm_1_logo_box ">
                    <img src="assets/img/home_main/secton_6_logo_1.jpg" alt="setion_6_logo" class="section_6_box_1_elm_1_logo_box">
                </div>
                <div class="section_6_box_1_elm_1_logo_box">
                    <img src="assets/img/home_main/secton_6_logo_2.jpg" alt="setion_6_logo" class="section_6_box_1_elm_1_logo_box">
                </div>
                <div class="section_6_box_1_elm_1_logo_box mrg_l ">
                    <img src="assets/img/home_main/secton_6_logo_3.jpg" alt="setion_6_logo" class="section_6_box_1_elm_1_logo_box">
                </div>
                <div class="section_6_box_1_elm_1_logo_box ">
                    <img src="assets/img/home_main/secton_6_logo_4.jpg" alt="setion_6_logo" class="section_6_box_1_elm_1_logo_box">
                </div>
                <div class="section_6_box_1_elm_1_logo_box ">
                    <img src="assets/img/home_main/secton_6_logo_5.jpg" alt="setion_6_logo" class="section_6_box_1_elm_1_logo_box">
                </div>
            </div>
        </div>
         <div class="section_7_box_1">
            <div class="section_7_box_1_elm_1">
                <div class="section_7_box_1_elm_1_text">
                    <p class="section_7_box_1_elm_1_text_elm_1">
                        TESTIMONIALS
                    </p>
                    <h2 class="section_7_box_1_elm_1_text_title">
                        What people say about our blog
                    </h2>
                    <p class="section_7_box_1_elm_1_text_elm_2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor.
                    </p>
                </div>
                <div class="section_7_box_1_elm_2_text">
                    <h4 class="section_7_box_1_elm_2_text_title">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </h4>
                    <div class="section_7_box_1_elm_2_text_user_box">
                        <div class="section_7_box_1_elm_2_text_user_box_info">
                            <div class="section_7_box_1_elm_2_text_user_box_info_img">
                                <img src="assets/img/authors_imgs/author_logo_9.jpg" alt="profile_logo" class="section_7_box_1_elm_2_text_user_box_info_img_item">
                            </div>
                            <div class="section_7_box_1_elm_2_text_user_box_info_box">
                                <h2 class="section_7_box_1_elm_2_text_user_box_info_box_name">
                                    Jonathan Vallem
                                </h2>
                                <p class="section_7_box_1_elm_2_text_user_box_info_box_contry">
                                    New york, USA
                                </p>
                            </div>
                        </div>
                        <div class="section_7_box_1_elm_2_text_user_box_button">
                            <div class="section_7_box_1_elm_2_text_user_box_button_back">
                                <a href="#" class="section_7_box_1_elm_2_text_user_box_button_back_link">
                                    ←
                                </a>
                            </div>
                            <div class="section_7_box_1_elm_2_text_user_box_button_next">
                                <a href="#" class="section_7_box_1_elm_2_text_user_box_button_next_link">
                                    →
                                </a>
                            </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<app-join></app-join>
