*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	scroll-behavior: smooth;
}
.container{
	max-width: 1280px;
	margin: auto;
}
.header_overlay {
    background-image: url('../../../assets/img/header/header_backgraund.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 0 192px 1px;
}

.header_overlay_box_text_elm_1{
	
	color: white;
	font-family: Inter;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 3px;
	text-align: left;
}
.header_overlay_box_text_elm_1 > span{
	font-weight: 900;
}
.header_overlay_box_text_title{
	font-family: Sen;
	font-size: 56px;
	font-weight: 700;
	line-height: 64px;
	letter-spacing: -2px;
	text-align: left;
	color: #FFFFFF;
	width: 803px;
	margin: 24px 0;
}
.header_overlay_box_text_elm_2{
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: left;
	color: white;
}
.header_overlay_box_text_elm_2 > span{
	color: #FFD050;
}
.header_overlay_box_text_elm_3{
	width: 599px;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: left;
	color: #FFFFFF;
	margin: 16px 0 48px;
}
.header_overlay_box_text_elm_btn{
	padding: 16px 48px 16px 48px;
	background-color: #FFD050;
	width: 204px;
	transition: 0.4s;
}
.header_overlay_box_text_elm_btn:hover{
	scale: 1.2;
	background: #ffbb00;
}
.header_overlay_box_text_elm_btn_link{
	font-family: Sen;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0px;
	color: #232536;
}
.section_1_box_1{
	display: flex;
	justify-content: space-between;
}
.section_1_box_1_elm_1_title{
	font-family: Sen;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: -2px;
	text-align: left;
	
}
.section_1_box_1{
	margin-top: 128px;
}
.section_1_box_1_elm_1_img_box_text_elm_1{
	font-family: Inter;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	color: #4C4C4C;
	margin: 32px 0 16px;
}
.section_1_box_1_elm_1_img_box_text_elm_1 > span{
	color: #592EA9
}
.section_1_box_1_elm_1_img_box_text_elm_2{
	width: 669px;
	font-family: Sen;
	font-size: 28px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: -1px;	
}
.section_1_box_1_elm_1_img_box_text_elm_3{
	width: 551px;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: left;
	margin: 16px 0 32px;
}
.section_1_box_1_elm_1_img_box_button{
	display: inline-block;
	padding: 16px 48px 16px 48px;
	background: #FFD050;
	transition: 0.4s;
}
.section_1_box_1_elm_1_img_box_button:hover{
	scale: 1.2;
	background: #ffbb00;
}
.section_1_box_1_elm_1_img_box_button_link{
	color: #232536;
	font-family: Sen;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	
}
.section_1_box_1_elm_1_img_box{
	padding: 32px;
	border: 1px solid #6d6e7627;
	width: 733px;
	margin-top: 32px;
}
.section_1_box_2{
	width: 515px;
}
.section_1_box_2_elm_1_text_title{
	font-family: Sen;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: -2px;
	text-align: left;
	
}
.section_1_box_2_elm_1_text_title_par > a{
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: left;
	color: #592EA9;
}
.section_1_box_2_elm_1_text{
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.section_1_box_2_elm_2_shape_box{
	margin-top: 32px;
}
.section_1_box_2_elm_2_shape_box_elm_1_text{
	font-family: Inter;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	color: #4C4C4C;
}
.section_1_box_2_elm_2_shape_box_elm_1_text > span{
	color: #592EA9;
}
.section_1_box_2_elm_2_shape_box_elm_1_text_title{
	font-family: Sen;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0px;
	margin-top: 8px;
}
.section_1_box_2_elm_2_shape_box_elm_1{
	padding: 32px 116px 25px 32px;
	cursor: pointer;
	transition: 0.3s;
}
.section_1_box_2_elm_2_shape_box_elm_1:hover{
	background: #FBF6EA;
	scale: 0.9;
}
.section_2_box_1{
	margin-top: 128px;
}
.section_2_box_1_line_box{
	display: flex;
	justify-content: flex-end;
}
.section_2_box_1_line_box_yellow{
	width: 776px;
	min-height: 23px;
	background-color: #FFD050;
}
.section_2_box_1_line_box_purpule{
	width: 282px;
	min-height: 23px;
	background-color: #592EA9;
}
.section_2_box_1_elm_1_text_box_elm_1{
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 3px;
	color: #232536;
}
.section_2_box_1_elm_1_text_box_elm_title{
	font-family: Sen;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: -2px;
	width: 493px;
	color: #232536;
	margin: 24px 0 16px;
}
.section_2_box_1_elm_1_text_box_elm_2{
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0px;
	width: 515px;
	color: #232536;
	margin-bottom: 16px;
}
.section_2_box_1_elm_1_text_box_elm_button_link{
	font-family: Sen;
	font-size: 18px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0px;
	color: #592EA9;
}
.section_2_box_1_elm_1_text_box_elm_button{
	transition: 0.4s;
	display: inline-block;
}
.section_2_box_1_elm_1_text_box_elm_button:hover{
	scale: 1.2;
}
.section_2_box_1_elm_1{
	display: flex;
	justify-content: space-between;
	background-color: #F4F0F8;
	padding: 96px 108px 96px 80px;
}
.section_2_box_2_elm_1_text_box_elm_1{
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 3px;
}
.section_2_box_2_elm_1_text_box_elm_title{
	font-family: Sen;
	font-size: 28px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: -1px;
	width: 481px;
	margin: 24px 0 16px;
}
.section_2_box_2_elm_1_text_box_elm_2{
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0px;
	width: 516px;
}
.section_3_box_1{
	margin: 128px 0 0;
}
.section_3_box_1_elm_1_title{
	font-family: Sen;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: -2px;
	text-align: center;
}
.section_4_box_1_elm_2_text_elm_1{
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 3px;
	color: #232536;
}
.section_4_box_1_elm_2_title{
	font-family: Sen;
	font-size: 48px;
	font-weight: 700;
	line-height: 64px;
	letter-spacing: -2px;
	color: Black;
	margin: 24px 0 16px;
}
.section_4_box_1_elm_2_text_elm_2{
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0px;
	color: #6D6E76;
}
.section_4_box_1_elm_2_button{
	padding: 16px 48px 16px 48px;
	background: #FFD050;
	display: inline-block;
	margin-top: 32px;
	transition: 0.4s;
}		
.section_4_box_1_elm_2_button:hover{
	scale: 1.2;
	background: #ffbb00;
}
.section_4_box_1_elm_2_button_link{
	font-family: Sen;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0px;
	color: #232536;
}
.section_4_box_1_elm_2{
	position: absolute;
	background: #FFFFFF;
	width: 706px;
	padding: 80px;
	right: 0;
	top: 122px;
}
.section_4_box_1{
	position: relative;
	display: flex;
	margin-top: 128px;
}
.section_5_box_1_elm_1_text_title{
	font-family: Sen;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: -2px;
	text-align: center;
}
.section_5_box_1{
	margin-top: 128px;
}
.section_6_box_1_elm_1_text_elm_1{
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	color:#6D6E76 ;
}
.section_6_box_1_elm_1_text_title{
	font-family: Sen;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0px;
	color: #6D6E76;
}
.section_6_box_1_elm_1_text{
	transition: 0.4s;
	cursor: pointer;	
}
.section_6_box_1_elm_1_text:hover{
	scale: 0.9;
}
.margin_left_86{
	margin-left: 86px;
}
.margin_left_75{
	margin-left: 75px;
}
.margin_left_73{
	margin-left: 73px;
}
.margin_left_74{
	margin-left: 74px;
}
.section_6_box_1_elm_1_logo_box{
	transition: 0.4s;
	cursor: pointer;
}
.section_6_box_1_elm_1_logo_box:hover{
	scale: 0.9;
}
.section_6_box_1_elm_1{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
}
.section_6_box_1{
	margin-top: 96px;
}
.section_7_box_1_elm_1_text_elm_1{
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 3px;
	color: #232536;
}
.section_7_box_1_elm_1_text_title{
	font-family: Sen;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: -2px;
	color: #232536;
	margin: 12px 0 16px;
}
.section_7_box_1_elm_1_text_elm_2{
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0px;
	color: #232536;	
}
.section_7_box_1_elm_1{
	background: #FBF6EA;
	display: flex;
	justify-content: space-around;
	padding: 80px 111px 74px 112px ;
}
.section_7_box_1_elm_2_text{
	border-left: 1px solid #6D6E76 ;
	padding-left: 96px ;
}
.section_7_box_1_elm_2_text_title{
	width: 469px;
	font-family: Sen;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0px;
	color: #232536;
	margin: 12px 0 16px;
}
.section_7_box_1_elm_2_text_user_box_info_box_name{
	font-family: Sen;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0px;
	color: #232536;
	
}
.section_7_box_1_elm_2_text_user_box_info_box_contry{
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0px;
	color: #6D6E76;
}
.section_7_box_1_elm_2_text_user_box_info_img_item{
	border-radius: 50%;
	margin-right: 16px;
}
.section_7_box_1_elm_2_text_user_box_info{
	display: flex;

}
.section_7_box_1_elm_2_text_user_box {
    display: flex;
    justify-content: space-between;
	align-items: center;
	margin-top: 114px;
}
.section_7_box_1_elm_2_text_user_box_button{
	display: flex;
	align-items: center;
}
.section_7_box_1_elm_2_text_user_box_button_back_link,
.section_7_box_1_elm_2_text_user_box_button_next_link{
	background: white;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s;
	color: black;
}
.section_7_box_1_elm_2_text_user_box_button_back_link:hover{
	background: #232536;
	scale: 1.2;
	color: white;
}
.section_7_box_1_elm_2_text_user_box_button_next_link:hover{
	background: #232536;
	scale: 1.2;
	color: white;

}
.section_7_box_1_elm_2_text_user_box_button_next{
	margin-left: 24px;
}
.section_7_box_1_elm_1_text{
	width: 349px ;
}
.section_7_box_1{
	margin-top: 96px;
}
.section_8_box_1_elm_1_text_title{
	font-family: Sen;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: -2px;
	text-align: center;
	color: #232536;
	width: 414px;
}
.section_8_box_1_elm_1_text_elm_1{
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: center;
	color: #6D6E76;
	width: 405px;
	margin: 16px 0 32px;
}
.section_8_box_1_elm_1_text_button{
	padding: 16px 48px 16px 48px;
	background: #FFD050;
	width: 174px;
}






/* 1280px */
@media (max-width: 1280px) {
	.container{
		width: 1040px;
	}
	.header_overlay_box {
		padding: 120px 20px 192px 20px;
	}
	.header_overlay_box_text_title {
		width: 770px;
	}
	.header_overlay {
		padding: 30px 20px 42px;
	}
	.section_1_box_2_elm_2_shape_box_elm_1 {
		padding: 32px 0px 25px 32px;
	}
	.section_1_box_1_elm_1_img_box {
		padding: 32px;
		border: 1px solid #6d6e7627;
		width: 533px;
		margin-top: 32px;
	}
	.header_overlay_box_text_title {
		width: 600px;
		font-size: 46px;
	}
	.section_1_box_1_elm_1_img_box_img_item{
		width: 465px;
	}
	.section_1_box_1_elm_1_img_box_text_elm_2 {
		width: 500px;
		letter-spacing: 0;
	}
	.section_1_box_1_elm_1_img_box_text_elm_3 {
		width: 490px;
	}
	.section_2_box_1_elm_1_text_box_elm_title {
		font-size: 34px;
		letter-spacing: 0;
		width: 453px;
	}
	.section_2_box_1_line_box_yellow {
		width: 500px;
	}
	.section_2_box_1_elm_1_text_box_elm_2 {
		font-weight: 400;
		line-height: 24px;
		width: 460px;
	}
	.section_2_box_1_elm_1 {
		padding: 90px 20px;
	}
	.section_4_box_1 {
		justify-content: center;
	}
	.section_4_box_1_elm_2 {
		padding: 50px;
		right: 43px;
		top: 181px;
	}
	.section_6_box_1_elm_1 {
		align-items: flex-end;
	}

	.section_7_box_1_elm_2_text {
		padding-left: 43px;
	}
	.margin_left_74 {
		margin-left: 0;
		margin-top: 20px;
	}
	.margin_left_73,.margin_left_75,.margin_left_86 {
		margin-left: 70px;
	}	
}

  
  /* 1040px */
@media (max-width: 1040px) {
	.container{
		width: 940px;;
	}
	.section_2_box_2_elm_1_text_box {
		width: 400px;
	}
	.section_2_box_2_elm_1_text_box_elm_2 {
		width: auto;
	}
	.section_2_box_2_elm_1_text_box_elm_title {
		letter-spacing: 0;
		width: auto;
		margin: 24px 0 16px;
	}
	.section_4_box_1_elm_2 {
		padding: 42px;
		right: 14%;
		top: 94px;
	}
	.section_7_box_1_elm_1 {
		padding: 80px 60px;
	}
	.section_7_box_1_elm_2_text_title {
		width: 337px;
	}
	.section_7_box_1_elm_2_text_user_box {
		flex-direction: column;
	}
	.margin_left_74 {
		margin-left: 70px;
		margin-top: 20px;
	}
	.margin_left_75,.margin_left_86 {
		margin-left: 80px;
		margin-top: 20px;
	}	
	.margin_left_75{
		margin-right: 90px;
	}
	.margin_left_73 {
		margin-left: 0;
		margin-top: 20px;
	}	
}
	



  /* 940px */
  @media (max-width: 940px) {
	.container{
		width: 700px;
	}
	.section_1_box_1 {
		flex-direction: column;
		align-items: center;
	}
	.section_1_box_1_elm_1{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.section_1_box_1_elm_1_img_box {
		width: 700px;
		margin-top: 12px;
	}
	.section_1_box_1_elm_1_img_box{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.section_1_box_1_elm_1_img_box_text_elm_2 {
		width: 90%;
		text-align: center;
	}
	.section_1_box_1_elm_1_img_box_text_elm_3 {
		width: 90%;
		text-align: center;
	}
	.section_1_box_1_elm_1_img_box_img_item {
		width: 600px;
	}
	.section_1_box_1 {
		margin-top: 45px;
	}	
	.section_1_box_2_elm_2_shape_box_elm_1 {
		padding: 32px;
		text-align: center;
	}
	.section_2_box_1_elm_1 {
		flex-direction: column;
		align-items: center;
	}
	.section_2_box_2_elm_1_text_box {
		width: 90%;
	}
	.section_2_box_2_elm_1_text_box,.section_2_box_1_elm_1_text_box{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.section_2_box_2_elm_1_text_box_elm_title,
	.section_2_box_1_elm_1_text_box_elm_2,
	.section_2_box_1_elm_1_text_box_elm_title,
	.section_2_box_2_elm_1_text_box_elm_2{
		width: 90%;
		text-align: center;
	}
	.section_2_box_2_elm_1_text_box{
		margin-top: 15px;
	}
	
	.section_4_box_1_elm_1{
		display: none;
	}
	.section_4_box_1_elm_2 {
		position: initial;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.section_4_box_1_elm_2_title {
		text-align: center;
	}
	.section_4_box_1_elm_2_text_elm_2 {
		text-align: center;
	}
	.section_7_box_1_elm_1 {
		flex-direction: column;
		align-items: center;
	}
	.section_7_box_1_elm_2_text {
		padding-top: 43px;
		border-top: 1px solid #6D6E76;
		border-left: none;
		padding-left: 0;
		text-align: center;
	}
	
	.section_7_box_1_elm_1_text {
		text-align: center;
		margin-bottom: 30px;
	}
	.section_7_box_1_elm_2_text_user_box_info {
		flex-direction: column;
	}
	.section_7_box_1_elm_2_text_user_box {
		margin-top: 40px;
	}
	.section_7_box_1{
		margin-top: 66px;
	}
	.section_8_box_1_elm_1_text {
		margin: 108px 0 ;
	}
	.margin_left_73 {
		margin-right: 80px;
		margin-top: 20px;
	}	
	.margin_left_74 {
		margin-left: 0;
		margin-top: 20px;
	}
	.margin_left_75 {
		margin-right: 0;
	}
}

	



/* 700px */
  @media (max-width: 700px) {
	.container{
		width: 100%;
	}
	.header_overlay_box_text_elm_btn {
		padding: 12px 50px;
	}
	.section_1_box_1_elm_1_img_box_img_item {
		width: 90%;
	}
	.section_1_box_1_elm_1_img_box {
		width: 90%;
	}
	.section_1_box_1_elm_1_img_box_img{
		display: flex;
		justify-content: center;
	}
	.header_overlay_box {
		padding: 20px 20px 22px;
	}
	.header_overlay_box{
		display: flex;
		flex-direction: column;
    	align-items: center;
		
	}
	.section_1_box_1_elm_1_img_box_text_elm_2 {
		font-size: 25px;
		line-height: 30px;
		letter-spacing: 0;
	}
	.header_overlay_box_text_elm_2 {
		font-size: 15px;
	}
	.header_overlay_box_text_title {
		width: 90%;
		text-align: center;
		font-size: 18px;;
		line-height: 40px;
		letter-spacing: 0;
	}
	.header_overlay_box_text_elm_3 {
		width: 90%;
		text-align: center;
	}
	.section_1_box_2 {
		width: 90%;
		margin-top: 30px;
	}
	
	.section_4_box_1_elm_2_title {
		font-size: 42px;
		line-height: 44px;
		letter-spacing: 0;
		color: Black;
		margin: 20px 0 13px;
	}
	
	.section_4_box_1 {
		margin-top: 58px;
	}
	.section_4_box_1_elm_2_button_link {
		font-size: 16px;
	}
	.margin_left_73,.margin_left_74,.margin_left_75,.margin_left_86 {
		margin-right: 0;
		margin-top: 20px;
		margin-left: 0;
	}	
	.section_6_box_1 {
		margin-top: 36px;
	}
	.section_6_box_1_elm_1 {
		flex-direction: column;
		align-items: center;
	}
	.section_6_box_1_elm_1_text{
		text-align: center;
	}
	.section_7_box_1_elm_2_text_title{
		font-size: 16px;
		line-height: 26px;
	}
	.section_7_box_1_elm_2_text {
		padding-top: 23px;
	}
	.section_7_box_1_elm_1_text_title {
		font-size: 30px;
		line-height: 39px;
		letter-spacing: 0;
	}
	.section_7_box_1{
		margin-top: 26px;
	}
	
  }




  /* 460px */
  @media (max-width: 460px) {
	.header_overlay_box_text_title {
		font-size: 36px;
	}
	.section_1_box_1_elm_1_img_box_text_elm_2 {
		font-size: 22px;
		line-height: 25px;
	}
	.section_2_box_1_elm_1_text_box {
		font-size: 20px;
	}
	.section_2_box_2_elm_1_text_box_elm_title,
	.section_2_box_1_elm_1_text_box_elm_title{
		font-size: 29px;
		line-height: 35px;
	}
	.section_4_box_1_elm_2_title {
		font-size: 28px;
		line-height: 40px;
		margin: 15px 0 10px;
	}
	.section_7_box_1_elm_2_text_title {
		width: 90%;
		margin: auto;
	}
	.section_7_box_1_elm_1_text {
		width: 90%;
	}
}