<div class="forum_bg">
  <div class="form_box">
    <form class="example-form" (ngSubmit)="save()">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="Enter Your Email" (input)="onEmailInput()">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput [formControl]="password"  placeholder="Enter Your Password">
        </mat-form-field>
        <section class="button-box">
          <button type="submit" mat-raised-button color="primary">Login <mat-icon class="mat-18">login</mat-icon></button>
           <p class="button-text">
            OR
          </p>
          <a class="reg_link" routerLink ="/admin/registration">You Can Registration</a>
      </section>
    </form>
  </div>
</div>