*{
  margin: 0;
  padding: 0;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
}

.example-full-width {
  width: 100%;
  border-radius: 35px 0;
}
.forum_bg{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url('../../../assets/img/home_main/login_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
  
}

.button-box {
  width: 100%;
  text-align: center;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.form_box{
  padding: 40px;
  background: #9f2626c2;
  border-radius: 2%;
}
.button-text{
  margin: 15px 0;
}
.reg_link{
  cursor: pointer;
  color: aliceblue;
}
.error-message{
  color: red;
  text-align: center;
  margin: 0 0 20px 0;
}