<div class="about_us_section__1">
    <div class="about_us_section__1-container container">
        <div class="about_us_section__1-box">
            <div class="about_us_section__1-box-elm-1">
                <div class="about_us_section__1-box-elm-1-text">
                    <p class="about_us_section__1-box-elm-1-text-elm-1">
                        ABOUT US
                    </p>
                    <h1 class="about_us_section__1-box-elm-1-text-title">
                        We are a team of content writers who share their learnings
                    </h1>
                </div>
                <p class="about_us_section__1-box-elm-1-usbtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                     nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="about_us_section__2">
    <div class="container">
        <div class="about_us_section__2-box">
            <div class="about_us_section__2-box-elm-1">
                <div class="about_us_section__2-box-elm-1-text">
                    <div class="about_us_section__2-box-elm-1-text-box">
                        <h3 class="about_us_section__2-box-elm-1-text-title">
                            12+
                        </h3>
                        <p class="about_us_section__2-box-elm-1-text-elm-1">
                            Blogs Published
                        </p>
                    </div>
                    <div class="about_us_section__2-box-elm-1-text-box about_us_section__2-box-elm-1-text-box-magin">
                        <h3 class="about_us_section__2-box-elm-1-text-title">
                            18K+
                        </h3>
                        <p class="about_us_section__2-box-elm-1-text-elm-1">
                            Views on Finsweet
                        </p>
                    </div>
                    <div class="about_us_section__2-box-elm-1-text-box">
                        <h3 class="about_us_section__2-box-elm-1-text-title">
                            30K+
                        </h3>
                        <p class="about_us_section__2-box-elm-1-text-elm-1">
                            Total active Users
                        </p>
                    </div>
                    
                </div>
                <div class="about_us_section__2-box-elm-2-line">
                    <div class="about_us_section__2-box-elm-2-line-purple">

                    </div>
                    <div class="about_us_section__2-box-elm-2-line-yellow">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about_us_section__3">
    <div class="container">
        <div class="about_us_section__3-box">
            <div class="about_us_section__3-box-elm-1">
                <div class="about_us_section__3-box-elm-1-text">
                    <div class="about_us_section__3-box-elm-1-text-box">
                        <p class="about_us_section__3-box-elm-1-text-elm-1">
                            OUR MISION
                        </p>
                        <h3 class="about_us_section__3-box-elm-1-text-title">
                            Creating valuable content for creatives all around the world
                        </h3>
                        <p class="about_us_section__3-box-elm-1-text-elm-2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Non blandit massa enim nec. Scelerisque 
                            viverra mauris in aliquam sem. At risus viverra
                            adipiscing at in tellus.
                        </p>
                    </div>
                    <div class="about_us_section__3-box-elm-1-text-box">
                        <p class="about_us_section__3-box-elm-1-text-elm-1">
                            OUR VISION
                        </p>
                        <h3 class="about_us_section__3-box-elm-1-text-title">
                            A platform that empowers individuals to improve
                        </h3>
                        <p class="about_us_section__3-box-elm-1-text-elm-2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Non blandit massa enim nec. Scelerisque 
                            viverra mauris in aliquam sem. At risus viverra
                            adipiscing at in tellus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about_us_section__4">
    <div class="container">
        <div class="about_us_section__4-box">
            <div class="about_us_section__4-box-elm-1">
                <div class="about_us_section__4-box-elm-1-text">
                    <div class="about_us_section__4-box-elm-1-text-box">
                        <h2 class="about_us_section__4-box-elm-1-text-title">
                            Our team of creatives
                        </h2>
                        <h4 class="about_us_section__4-box-elm-1-text-subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                             sed do eiusmod tempor incididunt.
                        </h4>
                        <p class="about_us_section__4-box-elm-1-text-elm-1">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                        </p>
                    </div>
                </div>
                <div class="about_us_section__4-box-elm-1-img">
                    <img src="assets/img/about_us/about_us_section_4_img_1.jpg" alt="about_us_section_4_img_1" class="about_us_section__4-box-elm-1-img-item">
                </div>
            </div>
            <div class="about_us_section__4-box-elm-1 about_us_section__4-box-elm-1-reverse">
                <div class="about_us_section__4-box-elm-1-text">
                    <div class="about_us_section__4-box-elm-1-text-box about_us_section__4-box-elm-1-text-box-margin">
                        <h2 class="about_us_section__4-box-elm-1-text-title">
                            Why we started this Blog
                        </h2>
                        <h4 class="about_us_section__4-box-elm-1-text-subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                             sed do eiusmod tempor incididunt.
                        </h4>
                        <p class="about_us_section__4-box-elm-1-text-elm-1">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                        </p>
                    </div>
                </div>
                <div class="about_us_section__4-box-elm-1-img ">
                    <img src="assets/img/about_us/about_us_section_4_img_2.jpg" alt="about_us_section_4_img_1" class="about_us_section__4-box-elm-1-img-item">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about_us_section__5">
    <div class="container">
        <h2 class="about_us_section__5-box-1-elm-1-text-title">
            List of Authors
        </h2>
        <app-users-card></app-users-card>
        <app-users-card></app-users-card>
        <app-join></app-join>
    </div>
</div>
        