*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	scroll-behavior: smooth;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.about_us_section__1{
    min-height: 368px;
}
.about_us_section__1-container{
    width: 1133px;
    margin: auto;
}
.about_us_section__1-box-elm-1{
    display: flex;
    align-items: center;
    position: absolute;
    padding: 0 0 0 35px;
}
.about_us_section__1-box-elm-1-text{
    width: 624px;
    padding: 64px;
    background: #FFFFFF;
}
.about_us_section__1-box-elm-1-text-elm-1{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    color: #232536;    
}
.about_us_section__1-box-elm-1-text-title{
    font-family: Sen;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    color: #232536;    
    margin: 16px 0 0 0;   
}
.about_us_section__1-box-elm-1-usbtitle{
    width: 477px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    color: #4C4C4C;    
}
.about_us_section__1-box{
    padding: 80px 0 0 0;
}
.about_us_section__2-box-elm-1{
    background-image: url('../../../assets/img/about_us/about_us_sectoion_2-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 444px;
    padding: 0 0 0 109px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.about_us_section__2-box-elm-1-text-box{
    background: #FFD050;
    display: flex;
    flex-direction: column;
}
.about_us_section__2-box-elm-1-text{
    display: flex;
    padding: 32px 48px ;
    background: #FFD050;
}
.about_us_section__2-box-elm-1-text-title{
    font-family: Sen;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    color: #232536;       
}
.about_us_section__2-box-elm-1-text-elm-1{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    color: #232536;
}
.about_us_section__2-box-elm-1-text-box-magin{
    margin: 0 68px;
}
.about_us_section__2-box-elm-2-line{
    display: flex;
}
.about_us_section__2-box-elm-2-line-purple{
    width: 311px;
    background: #592EA9;
}
.about_us_section__2-box-elm-2-line-yellow{
    background: #FFD050;
    width: 550px;
    min-height: 23px;
}
.users_flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media (max-width: 1280px) {
    .container{
		width: 1040px;
	}
    .about_us_section__1-box-elm-1-text-title {
        font-size: 34px;
        line-height: 51px;
        letter-spacing: 0px;
    }
    .about_us_section__1-box-elm-1-text {
        width: 473px;
    }
    .about_us_section__1-box-elm-1-usbtitle {
        width: 439px;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0px;
    }
    .about_us_section__1-box-elm-1 {
        padding: 0 0 0 101px;
    }
    .users_flex {
		justify-content: space-around;
	}
}
@media (max-width: 1040px) {
    .container{
		width: 940px;
	}
    .about_us_section__2-box-elm-1 {
        align-items: center;
        padding: 0;
    }
    .about_us_section__2-box-elm-2-line-yellow {
        width: 318px;
    }
    .about_us_section__1-box {
        padding: 35px 0 0 0;
    }
    .about_us_section__1-box-elm-1-text {
        width: 460px;
        padding: 45px;

    }
    .about_us_section__1-box-elm-1-usbtitle {
        width: 340px;
    }
    .about_us_section__1-box-elm-1 {
        padding: 0;
    }
    .about_us_section__1-box {
        display: flex;
        justify-content: center;
    }
    .about_us_section__1 {
        min-height: 270px;
    }
}
@media (max-width: 940px) {
    .container{
		width: 700px;
	}
    .about_us_section__1-box-elm-1 {
        position: initial;
        flex-direction: column;
    }
    .about_us_section__1-box-elm-1-text {
        text-align: center;
    }
    .about_us_section__1-box-elm-1-text {
        width: 90%;
        padding: 0;
    }
    .about_us_section__1-box-elm-1-text-title {
        font-size: 31px;
        line-height: 37px;
    }
    .about_us_section__1 {
        min-height: auto;
    }
    .about_us_section__1-box-elm-1-usbtitle {
        width: 90%;
        text-align: center;
        margin: 30px 0 ;

    }
}
@media (max-width: 700px) {
    .container{
		width: 100%;
	}
    .about_us_section__2-box-elm-1 {
        align-items: center;
        justify-content: center;
    }
    .about_us_section__2-box-elm-1-text {
        display: flex;
        padding: 32px 48px;
        background: #FFD050;
        flex-direction: column;
    }
    .about_us_section__2-box-elm-1-text-box-magin {
        margin: 0;
        align-items: center;
    }
    .about_us_section__2-box-elm-2-line-purple,
    .about_us_section__2-box-elm-2-line-yellow {
        width: 118.5px;
    }
    .about_us_section__2-box-elm-1-text-box {
        align-items: center;
    }
}
@media (max-width: 460px) {
    .about_us_section__1-box-elm-1-text-title {
        font-size: 27px;
        line-height: 24px;
    }
    .about_us_section__1-box-elm-1-usbtitle {
        font-size: 14px;
        line-height: 22px;
    }
    
}
.about_us_section__3-box-elm-1{
    background: #F4F0F8;
    padding: 128px 0 64px;
}
.about_us_section__3-box-elm-1-text{
    display: flex;
    justify-content: center;
}
.about_us_section__3-box-elm-1-text-box{
    width: 516px;
}
.about_us_section__3-box-elm-1-text-elm-1{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    color: #232536;      
}
.about_us_section__3-box-elm-1-text-title{
    width: 481px;
    font-family: Sen;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
    margin: 16px 0 24px ;
}
.about_us_section__3-box-elm-1-text-elm-2{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    color: #6D6E76;      
}
.about_us_section__3-box-elm-1-text-box{
    margin: 0 32px 0 0;
}
@media (max-width: 1280px) {
    .about_us_section__3-box-elm-1-text-box {
        width: 390px;
    }
    .about_us_section__3-box-elm-1-text-title {
        width: auto;
    }
}
@media (max-width: 1040px) {
}
@media (max-width: 940px) {
    .about_us_section__3-box-elm-1-text {
        flex-direction: column;
        align-items: center;
    }
    .about_us_section__3-box-elm-1 {
        background: #F4F0F8;
        padding: 60px 0;
    }
    .about_us_section__3-box-elm-1-text-box {
        width: 90%;
        text-align: center;
    }
}
@media (max-width: 700px) {
    .about_us_section__3-box-elm-1-text-title {
        font-size: 27px;
        line-height: 24px;
        letter-spacing: 0px;
        margin: 16px 0;
    }  
    .about_us_section__3-box-elm-1-text-box {
        margin:  32px 0 0 0;
    }
    .about_us_section__3-box-elm-1 {
        background: #F4F0F8;
        padding: 30px 0;
    }
}
.about_us_section__4{
    margin: 128px 0 0 0;
}
.about_us_section__4-box-elm-1 {
    display: flex;
    align-items: center;

}
.about_us_section__4-box-elm-1-text-title{
    font-family: Sen;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}
.about_us_section__4-box-elm-1-text-subtitle{
    font-family: Sen;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    color: #232536;
    margin: 16px 0;
}
.about_us_section__4-box-elm-1-text-elm-1{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    color: #232536;
}
.about_us_section__4-box-elm-1-text-box{
    width: 519px;
    margin: 0 137px 0 0;
}
.about_us_section__4-box-elm-1-reverse {
    flex-direction: row-reverse;
    margin: 128px 0 0 0;
    justify-content: flex-end;

}
.about_us_section__4-box-elm-1-text-box-margin{
    margin: 0 0 0 64px;
}


 @media (max-width: 1280px) {
    .about_us_section__4-box-elm-1-text-box {
        width: 383px;
        margin: 0 76px 0 0;
    }
    .about_us_section__4-box-elm-1-text-box-margin {
        margin: 0 0 0 64px;
    }
   
    .about_us_section__4-box-elm-1 {
        justify-content: space-around;
    }
    .about_us_section__4-box-elm-1-img {
        width: 500px;
        display: flex;
        justify-content: center;
    }
    
    .about_us_section__4-box-elm-1-img-item {
        width: 100%;
    }
    .about_us_section__4-box-elm-1-text-box-margin {
        margin: 0;
    }
    .about_us_section__4{
        margin: 68px 0 0 0;
    }
}
@media (max-width: 1040px) {
    .about_us_section__4-box-elm-1-img {
        width: 400px;
    }
    .about_us_section__4-box-elm-1-text-subtitle {
        font-size: 21px;
        line-height: 25px;
        letter-spacing: 0px;
    }
    .about_us_section__4-box-elm-1-text-title {
        font-size: 32px;
        line-height: 30px;
        letter-spacing: -2px;
    }
    .about_us_section__4-box-elm-1-text-elm-1 {
        font-size: 15px;
        line-height: 23px;
        letter-spacing: 0px;
    }
    .about_us_section__4-box-elm-1-text-box {
        width: 320px;
        margin: 0 36px 0 0;
    }
    .about_us_section__4-box-elm-1-text-box-margin {
        margin: 0 0 0 16px;
    }
} 
@media (max-width: 940px) {
    .about_us_section__4-box-elm-1-text-title {
        font-size: 30px;
        line-height: 0px;
    } 
    .about_us_section__4-box-elm-1-text-elm-1 {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0px;
    }
    .about_us_section__4-box-elm-1-text-subtitle {
        font-size: 19px;
        line-height: 20px;
        letter-spacing: 0px;
    }
}
@media (max-width: 700px) {
    .about_us_section__4-box-elm-1 {
        flex-direction: column-reverse;
    }  
    .about_us_section__4-box-elm-1-img {
        width: 90%;
    }
    .about_us_section__4-box-elm-1-text-box {
        width: 90%;
        margin: 50px 0 0 0;
        text-align: center;
    }
    .about_us_section__4-box-elm-1-text{
        display: flex;
        justify-content: center;
    }
    .about_us_section__4-box-elm-1-reverse {
        margin: 30px 0 0 0;
    }
    .about_us_section__4-box-elm-1-text-title {
        line-height: 35px;
    }
}
.about_us_section__5{
	margin-top: 128px;
}
.about_us_section__5-box-1-elm-1-text-title{
	font-family: Sen;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: -2px;
	text-align: center;
}
