<div class="section_5_box_1">
    <div class="container">
        <div class="section_5_box_1_elm_1">
            <div class="section_5_box_1_elm_1_text">
                <div class="section_5_box_1_elm_1_user_box">
                    <div class="section_5_box_1_elm_1_user_box_elm_1">
                        <div class="section_5_box_1_elm_1_user_box_elm_1_img">
                            <img src="assets/img/home_main/section_user_1.png" alt="user_img">
                        </div>
                        <h3 class="section_5_box_1_elm_1_user_box_elm_1_name">
                            Floyd Miles
                        </h3>
                        <p class="section_5_box_1_elm_1_user_box_elm_1_info">
                            Content Writer @Company
                        </p>
                        <div class="section_5_box_1_elm_1_user_box_elm_1_social_box">
                            <a href="#" class="section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img src="assets/img/footer/facebook.png" alt="facebook">
                            </a>
                            <a href="#" class="margin_left_16 section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img class="" src="assets/img/footer/twiter.png" alt="twiter">
                            </a>
                            <a href="#" class="margin_left_16 section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img class="" src="assets/img/footer/instagram.png" alt="Instagram">
                            </a>
                            <a href="#" class="margin_left_16 section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img class="" src="assets/img/footer/in.png" alt="in">
                            </a>
                        </div>
                    </div>
                    <div class="section_5_box_1_elm_1_user_box_elm_1">
                        <div class="section_5_box_1_elm_1_user_box_elm_1_img">
                            <img src="assets/img/home_main/section_user_2.png" alt="user_img">
                        </div>
                        <h3 class="section_5_box_1_elm_1_user_box_elm_1_name">
                            Dianne Russell
                        </h3>
                        <p class="section_5_box_1_elm_1_user_box_elm_1_info">
                            Content Writer @Company
                        </p>
                        <div class="section_5_box_1_elm_1_user_box_elm_1_social_box">
                            <a href="#" class="section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img src="assets/img/footer/facebook.png" alt="facebook">
                            </a>
                            <a href="#" class="margin_left_16 section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img class="" src="assets/img/footer/twiter.png" alt="twiter">
                            </a>
                            <a href="#" class="margin_left_16 section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img class="" src="assets/img/footer/instagram.png" alt="Instagram">
                            </a>
                            <a href="#" class="margin_left_16 section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img class="" src="assets/img/footer/in.png" alt="in">
                            </a>
                        </div>
                    </div>
                    <div class="section_5_box_1_elm_1_user_box_elm_1">
                        <div class="section_5_box_1_elm_1_user_box_elm_1_img">
                            <img src="assets/img/home_main/section_user_3.png" alt="user_img">
                        </div>
                        <h3 class="section_5_box_1_elm_1_user_box_elm_1_name">
                            Jenny Wilson
                        </h3>
                        <p class="section_5_box_1_elm_1_user_box_elm_1_info">
                            Content Writer @Company
                        </p>
                        <div class="section_5_box_1_elm_1_user_box_elm_1_social_box">
                            <a href="#" class="section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img src="assets/img/footer/facebook.png" alt="facebook">
                            </a>
                            <a href="#" class="margin_left_16 section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img class="" src="assets/img/footer/twiter.png" alt="twiter">
                            </a>
                            <a href="#" class="margin_left_16 section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img class="" src="assets/img/footer/instagram.png" alt="Instagram">
                            </a>
                            <a href="#" class="margin_left_16 section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img class="" src="assets/img/footer/in.png" alt="in">
                            </a>
                        </div>
                    </div>
                    <div class="section_5_box_1_elm_1_user_box_elm_1">
                        <div class="section_5_box_1_elm_1_user_box_elm_1_img">
                            <img src="assets/img/home_main/section_user_4.png" alt="user_img">
                        </div>
                        <h3 class="section_5_box_1_elm_1_user_box_elm_1_name">
                            Leslie Alexander
                        </h3>
                        <p class="section_5_box_1_elm_1_user_box_elm_1_info">
                            Content Writer @Company
                        </p>
                        <div class="section_5_box_1_elm_1_user_box_elm_1_social_box">
                            <a href="#" class="section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img src="assets/img/footer/facebook.png" alt="facebook">
                            </a>
                            <a href="#" class="margin_left_16 section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img class="" src="assets/img/footer/twiter.png" alt="twiter">
                            </a>
                            <a href="#" class="margin_left_16 section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img class="" src="assets/img/footer/instagram.png" alt="Instagram">
                            </a>
                            <a href="#" class="margin_left_16 section_5_box_1_elm_1_user_box_elm_1_social_box_link">
                                <img class="" src="assets/img/footer/in.png" alt="in">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
