<div class="forum_bg">
  
  <div class="form-flex">
    <a routerLink ="/admin/login" mat-raised-button color="warn" class="form_back-button">
      <mat-icon class="mat-18">arrow_back</mat-icon>
    </a>
    <form [formGroup]="firstFormGroup" >
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required>
          <mat-error *ngIf="firstFormGroup.get('email')?.invalid">{{ getErrorMessage(firstFormGroup.get('email')!) }}</mat-error>
        </mat-form-field>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Enter Your Password</mat-label>
          <input type="password" matInput formControlName="password"  placeholder="Password" required>
          <mat-error *ngIf="firstFormGroup.get('password')?.invalid">{{ getPasswordErrorMessage(firstFormGroup.get('password')!) }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Enter Your First Name</mat-label>
          <input matInput placeholder="First Name" type="text" formControlName="f_name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Enter Your Last Name</mat-label>
          <input matInput placeholder="Last Name" type="text" formControlName="l_name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Enter Your Image</mat-label>
          <input matInput placeholder="Image" type="text" formControlName="image">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Enter Your Speciality</mat-label>
          <input matInput placeholder="Speciality" type="text" formControlName="short_description">
        </mat-form-field>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div class="button-box">
        <a class="button-item"  mat-raised-button color="warn" (click)="firstFormGroup.reset()">
          <mat-icon class="mat-18">restart_alt</mat-icon> Reset
        </a>
        <a class="button-item"  mat-raised-button color="warn" [disabled]="!firstFormGroup.valid" (click)="newRegLog()">
          <mat-icon class="mat-18">send</mat-icon>Send
        </a>
      </div>
    </form>
  </div>
</div>
