<!-- <form class="example-form" [formGroup]="form" (ngSubmit)="addNewPost()">
    <mat-form-field>
        <mat-label>Enter Image</mat-label>
        <input matInput placeholder="Enter image URL" formControlName="image" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Select Category</mat-label>
        <mat-select formControlName="category">
            <mat-option *ngFor="let value of category" [value]="value">
               <img src={{value.image}}  alt="Category">  {{value.title}}
            </mat-option>
        </mat-select>
    </mat-form-field>   

    <mat-form-field>
        <mat-label>Enter Title</mat-label>
        <input matInput placeholder="Enter description" formControlName="title" required>
    </mat-form-field>
    <mat-form-field>

        <mat-label>Enter Description</mat-label>
        <input matInput placeholder="Enter description" formControlName="short_description" required>
    </mat-form-field>
    <button type="submit" [disabled]="!form.valid">Send</button>
</form> -->