    <div class="blog_post-section__1">
        <div class="container-blog_post-section__1">
            <div class="blog_post-section__1-box">
                <div class="blog_post-section__1-box-elm-1">
                    <div class="blog_post-section__1-box-elm-1-user-info">
                        <div class="blog_post-section__1-box-elm-1-user-info-img">
                            <img src="assets/img/home_main/section_7_profile_logo.jpg" alt="profile_logo" class="blog_post-section__1-box-elm-1-user-info-img_item">
                        </div>
                        <div class="blog_post-section__1-box-elm-1-user-info-box">
                            <h3 class="blog_post-section__1-box-elm-1-user-info-box-name">
                                Andrew Jonson
                            </h3>
                            <p class="blog_post-section__1-box-elm-1-user-info-box-posted_date">
                                Posted on 27th January 2022
                            </p>
                        </div>
                    </div>
                </div>
                <div class="blog_post-section__1-box-elm-2">
                    <h1 class="blog_post-section__1-box-elm-2-title">
                        Step-by-step guide to choosing great font pairs
                    </h1>
                </div>
                <div class="blog_post-section__1-box-elm-3">
                    <div class="blog_post-section__1-box-elm-3-shuttle-logo">
                        <img src="assets/img/blog_post_main/shuttle.png" alt="shuttle" class="blog_post-section__1-box-elm-3-shuttle-logo-img">
                    </div>
                    <div class="blog_post-section__1-box-elm-3-text">
                        <h4 class="blog_post-section__1-box-elm-3-text-title">
                            Startup
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog_post-section__2">
        <div class="container">
            <div class="blog_post-section__2-img">
                <img src="assets/img/blog_post_main/section_2_backgraund.png" alt="section_2_backgraund" class="blog_post-section__2-img-item">
            </div>
        </div>
    </div>
    <div class="blog_post-section__3">
        <div class="container-blog_post-section__3">
            <div class="blog_post-section__3-box">
                <div class="blog_post-section__3-box-elm-1">
                    <div class="blog_post-section__3-box-elm-1-text">
                        <h2 class="blog_post-section__3-box-elm-1-text-title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod.
                        </h2>
                        <p class="blog_post-section__3-box-elm-1-text-coment-elm-1">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Non blandit massa enim nec. Scelerisque viverra mauris
                            in aliquam sem. At risus viverra adipiscing at in tellus.
                            Sociis natoque penatibus et magnis dis parturient montes.
                            Ridiculus mus mauris vitae ultricies leo. Neque egestas 
                            congue quisque egestas diam. Risus in hendrerit gravida 
                            rutrum quisque non.
                        </p>
                    </div>
                </div>
                <div class="blog_post-section__3-box-elm-2">
                    <div class="blog_post-section__3-box-elm--text">
                        <h2 class="blog_post-section__3-box-elm-2-text-title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod.
                        </h2>
                        <p class="blog_post-section__3-box-elm-2-text-coment-elm-1">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Non blandit massa enim nec. Scelerisque viverra mauris
                            in aliquam sem. At risus viverra adipiscing at in tellus.
                            Sociis natoque penatibus et magnis dis parturient montes.
                            Ridiculus mus mauris vitae ultricies leo. Neque egestas 
                            congue quisque egestas diam. Risus in hendrerit gravida 
                            rutrum quisque non.
                        </p>
                        <p class="blog_post-section__3-box-elm-2-text-coment-elm-2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Non blandit massa enim nec. Scelerisque viverra mauris
                            in aliquam sem. At risus viverra adipiscing at in tellus.
                            Sociis natoque penatibus et magnis dis parturient montes.
                            Ridiculus mus mauris vitae ultricies leo. Neque egestas 
                            congue quisque egestas diam. Risus in hendrerit gravida 
                            rutrum quisque non.
                        </p>
                        <ul class="blog_post-section__3-box-elm-2-text-coment-elm-3">
                            <li class="blog_post-section__3-box-elm-2-text-coment-elm-3-item">
                               Lorem ipsum dolor sit amet
                            </li>
                            <li class="blog_post-section__3-box-elm-2-text-coment-elm-3-item">
                                Non blandit massa enim nec scelerisque
                            </li>
                            <li class="blog_post-section__3-box-elm-2-text-coment-elm-3-item">
                                Neque egestas congue quisque egestas
                            </li>
                        </ul>
                        <p class="blog_post-section__3-box-elm-2-text-coment-elm-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Non blandit massa enim nec. Scelerisque viverra mauris
                            in aliquam sem. At risus viverra adipiscing at in tellus.
                            Sociis natoque penatibus et magnis dis parturient montes.
                            Ridiculus mus mauris vitae ultricies leo. Neque egestas 
                            congue quisque egestas diam. Risus in hendrerit gravida 
                            rutrum quisque non.
                        </p>
                    </div>
                </div>
                <div class="blog_post-section__3-box-elm-3">
                    <h2 class="blog_post-section__3-box-elm-3-text-title">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod.
                    </h2>
                    <p class="blog_post-section__3-box-elm-3-text-coment-elm-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Non blandit massa enim nec. Scelerisque viverra mauris
                        in aliquam sem. At risus viverra adipiscing at in tellus.
                        Sociis natoque penatibus et magnis dis parturient montes.
                        Ridiculus mus mauris vitae ultricies leo. Neque egestas 
                        congue quisque egestas diam. Risus in hendrerit gravida 
                        rutrum quisque non.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="blog_post-section__4">
        <div class="container">
            <div class="blog_post-section__4-box">
                <div class="blog_post-section__4-box-elm-1">
                    <div class="">
                        <h2 class="blog_post-section__4-box-elm-1-text-title">
                            What to read next
                        </h2>
                    </div>
                </div>
                <div class="blog_post-section__4-box-elm-2">
                    <div class="blog_post-section__4-box-elm-2-post-box" *ngFor="let value of post">
                       <div class="blog_post-section__4-box-elm-2-post-box-elm-1-img">
                          <img src={{value.image}} alt="" class="blog_post-section__4-box-elm-2-posts-box-elm-1-img-item">
                       </div>
                       <div class="blog_post-section__4-box-elm-2-posts-box-elm-2">
                            <div class="blog_post-section__4-box-elm-2-posts-box-elm-2-text">
                                <p class="blog_post-section__4-box-elm-2-posts-box-elm-2-text-date">
                                    By <span>{{value.postUser}}</span> l   {{value.postData}}
                                </p>
                                <h3 class="blog_post-section__4-box-elm-2-posts-box-elm-2-text-title">
                                    {{value.title}}
                             </h3>
                                <p class="blog_post-section__4-box-elm-2-posts-box-elm-2-text-coment">
                                    {{value.short_description}}
                                </p>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-join></app-join>
