*{
  margin: 0;
  padding: 0;
}
.example-container {
    height: 100vh;
    border: 1px solid #555;
}
  mat-toolbar{
    display: flex;
    justify-content: space-between;
}
.mat_drawer{
  width: 20%;
}
.author-image{
  width: 45px;
  height: 45px;
}
.info-box{
  display: flex;
  align-items: center;
}

.post-category{
  display: flex;
  align-items: center;
  gap: 0 20px;
  justify-content: center;
}
mat-drawer-content{
  padding: 30px;
}
.global_button{
  width: 100%;
  padding: 30px;
  display: flex;
  font-size: 25px;
  justify-content: flex-start;
}
.menu_buttons{
  padding: 20px;
}
